

<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Example#</th>
                            <th class="col-md-1">Level</th>
                            <th class="col-md-3">Description</th>
                            <th class="col-md-1">CheckBox</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.ActionLink("Example1", "Example1", "Example")</td>
                            <td>Easy</td>
                            <td><p id="demo">Small Description</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="#">@Html.ActionLink("Example2", "Example2", "Example")</td>
                            <td>Medium</td>
                            <td><p id="demo">Small Description</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="#">@Html.ActionLink("Example3", "Example3", "Example")</td>
                            <td>Medium</td>
                            <td><p id="demo">Small Description</p></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>Additional Information</h3>
                        </div>
                        <div class="panel-body">
                            <p> Static content goes here static contetnt goes here Static content goes here static contetnt goes hereStatic content goes here static contetnt goes hereStatic content goes here static contetnt goes hereStatic content goes here static contetnt goes hereStatic content goes here static contetnt goes hereStatic content goes here static contetnt goes here </p>
                        </div>
                    </div><!-- end panel -->
                </div> <!--end row-->
            </div>
        </div>
    </div><!-- end container -->
    <!-- modal windows -->
    <div id="landon" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                    <h3 class="modal-title">Example 1</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Writing Learning Goals</p>
                            <div class="row">
                                <div class="col-xs-16 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Writing Learning Goals</p>
                            <div class="row">
                                <div class="col-xs-16 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Analyze types of learning outcomes</p>
                            <div class="row">
                                <div class="col-xs-16 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Analyze information processing steps</p>
                            <div class="row">
                                <div class="col-xs-16 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Insert Solution here">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Submit!</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="landonExpert" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                    <h3 class="modal-title">Example 1</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Writing Learning Goals</p>
                            <div class="row">
                                <div class="col-xs-16 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Writing Learning Goals</p>
                            <div class="row">
                                <div class="col-xs-16 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Analyze types of learning outcomes</p>
                            <div class="row">
                                <div class="col-xs-16 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Analyze information processing steps</p>
                            <div class="row">
                                <div class="col-xs-16 text-center">
                                    <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead text-center bg-info btn text-info center-block">Correct Solution</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
